/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600;700;800&display=swap');

body{
    background-image: url(https://cutt.ly/9xgROV0);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
    height: 800px;
}
.left{
    /* border: 1px solid red; */
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 30px;
    text-align: center;
}
.left img{
    height: 90px;
    filter: invert(100%);
    display: inline-block;
}
.left h2{
    margin: 0;
    font-family: fantasy;
    font-weight: 10;
    position: relative;
    bottom: 35px;    
}
.mid{
    display: block;
    /* border: 1px solid green; */
    width: 40%;
    margin: 20px auto;
}
.nav-item{
    list-style: none;
    display: inline;
    padding: 15px 15px;
    }
.nav a{
    text-decoration: none;
    color: white;
}
.nav a:hover{
    color: darkgray;
    text-decoration: underline;
}
.active{
    color: rgb(250, 220, 220);
    text-decoration: underline;
}
.right{
    position: absolute;
    /* border: 1px solid yellow; */
    display: inline-block;
    right: 3px;
    top: 20px;
}
.btn{
    background-color: black;
    cursor: pointer;
    border-radius: 20%;
    color: whitesmoke;
    padding: 4px 20px;
    margin: 10px 10px;
}
.btn:hover{
    background-color: rgb(66, 65, 61);
}
.container{
    display: block;
    margin: auto;
    margin-top: 100px;
    /* border: 1px solid white; */
    padding: 50px 100px;
    border-radius: 20px;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
}
.container h1{
    text-align: center;
}
.container button{
    display: block;
    margin: auto;
    width: 30%;
    cursor: pointer;
    background-color: black;
    border-radius: 28px;
    color: whitesmoke;
    height: 39px;
}
.container button:hover{
    background-color: rgb(78, 77, 75);
}
.form-group input{
    text-align: center;
    display: block;
    width: 400px;
    padding: 10px;
    margin: 3px auto;
    border-radius: 30px;
    border: 1px solid black;
}
